@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f7fafc;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: grey #f8f9fa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #f8f9fa;
}

*::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 18px;
	border: 1px solid #f8f9fa;
}
